<h1>Editing Data List Line</h1>

<%= render 'form', data_list_line: @data_list_line %>

<%= link_to 'Show', data_list_data_list_line_path(@data_list, @data_list_line) %> |
<%= link_to 'Back', data_list_data_list_lines_path(@data_list) %>
