<h1>Editing Reagent List Line</h1>

<%= render 'form', reagent_list_line: @reagent_list_line %>

<%= link_to 'Show', reagent_list_reagent_list_line_url(@reagent_list, @reagent_list_line) %> |
<%= link_to 'Back', reagent_list_reagent_list_lines_path(@reagent_list) %>
