<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @reagent_list_line.name %>
</p>

<%= link_to 'Edit', edit_reagent_list_reagent_list_line_path(@reagent_list, @reagent_list_line) %> |
<%= link_to 'Back', reagent_list_reagent_list_lines_path(@reagent_list) %>
