<h1>Editing Unit List</h1>

<%= render 'form', unit_list: @unit_list %>

<%= link_to 'Show', program_analyte_unit_list_path(@program, @analyte, @unit_list) %> |
<%= link_to 'Back', program_analyte_unit_list_path(@program, @analyte, @unit_list) %>
