<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @unit_list.name %>
</p>

<%= link_to 'Edit', edit_program_analyte_unit_list_path(params[:program_id], params[:analyte_id], @unit_list) %> |
<%= link_to "back", program_analytes_path(params[:program_id]) %>
