<h1>Editing Mode List Line</h1>

<%= render 'form', mode_list_line: @mode_list_line %>

<%= link_to 'Show', mode_list_mode_list_line_path(@mode_list, @mode_list_line) %> |
<%= link_to 'Back', mode_list_mode_list_lines_path(@mode_list) %>
