<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mode_list_line.name %>
</p>

<%= link_to 'Edit', edit_mode_list_line_path(@mode_list_line) %> |
<%= link_to 'Back', mode_list_lines_path %>
