<h1>Editing Mode List</h1>

<%= render 'form', mode_list: @mode_list %>

<%= link_to 'Show', program_analyte_mode_list_path(@program, @analyte, @mode_list) %> |
<%= link_to 'Back', program_analyte_mode_list_path(@program, @analyte, @mode_list) %>

