<h1>Editing Data List</h1>

<%= render 'form', data_list: @data_list %>

<%= link_to 'Show', program_analyte_data_list_path(@program, @analyte, @data_list) %> |
<%= link_to 'Back', program_analyte_data_list_path(@program, @analyte, @data_list) %>


