<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @data_list.name %>
</p>

<%= link_to 'Edit', edit_program_analyte_data_list_path(params[:program_id], params[:analyte_id], @data_list) %> |
<%= link_to "back", program_analytes_path(params[:program_id]) %>
